@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Book<span style="color:red">MY</span>Show</h1>
    <form id="form">
        <input type="search" id="query" name="q" placeholder="Search..." style="width:500px">
        <button>Search</button>
    </form>
    
    <img id="image" src="~/download.jpg".jpg" />
</div>
